.main {
  display: grid;
  grid-template-columns: 16rem auto;
  gap: 1rem;
  align-items: center;
  margin: 1rem;
  max-width: 900px;
  margin: 2rem;
}

.mainGrid {
  height: 100%;
  padding: 0.5rem;
}
