#app {
  display: grid;
  grid-template-columns: 16rem auto;
  gap: 2rem;
  align-items: center;
  margin: 2rem;
}

#appSidebar > :not(:last-child) {
  margin-bottom: 2rem;
}

#appMain {
  width: 100%;
  height: 100%;
}
